---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/sections/Hero.astro";
import Services from "@/sections/Services.astro";

import { COMPANY } from "@/consts/company.ts";
---

<Layout title={COMPANY.name}>
	<main
		class="mx-auto lg:w-[800px] px-2 selection:bg-primary selection:text-secondary lg:pt-12 lg:px-10"
	>
		<Hero />
		<Services />
	</main>
</Layout>
