---
import Section from "@/components/Section.astro";
import Typography from "@/components/Typography.astro";

import { CONTACTUS } from "@/consts/contact.ts";

const { title, description } = CONTACTUS;
---

<Section class:list={"flex flex-col items-center justify-center my-8"}>
  <article id="contact">
    <Typography as="h1" variant="title" class:list={"text-center lg:leading-6"}>
      {title}
    </Typography>
    <Typography class:list={"text-center lg:mt-8"}>
      {description}
    </Typography>
  </article>
</Section>
