---
import Section from "@/components/Section.astro";
import Typography from "@/components/Typography.astro";
import Card from "@/components/Card.astro";
import Aspel from "@/icons/Aspel.astro";

import { SERVICES } from "@/consts/services.ts";

const ICONS: Record<string, any> = {
  Aspel,
};
---

<Section class:list={"grid gap-4"}>
  <Typography as="h1" variant="title" class:list={"text-center lg:mt-0"}>
    Servicios
  </Typography>
  <div class="mt-4 services lg:mt-8">
    {
      SERVICES.map(({ id, name, description, icon }) => {
        const Icon = ICONS[icon];
        return (
          <Card key={id} name={name} description={description}>
            <Icon />
          </Card>
        );
      })
    }
  </div>
</Section>
<style>
  div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
  }
</style>
