---
import "@fontsource/open-sans";
import "@fontsource/audiowide";
import "aos/dist/aos.css";

import Header from "@/sections/Header.astro";
import Footer from "@/sections/Footer.astro";
import Aos from "@/components/AosScript.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/webp" href="/wis.webp" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Aos />
		<Header />
		<slot />
		<Footer />
	</body>
</html>
<style is:global>
	:root {
		--white: #ffffff;
		--blue: #0d007f;
		--light-blue: #0000ff;
		--red: #40010d;
		--light-red: #bf0413;
	}
	html {
		font-family: "Open Sans", sans-serif;
		background: var(--white);
		color: var(--blue);
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}

	h1 {
		font-family: "Audiowide";
	}
</style>
